.App {
  text-align: center;
}


.item img{
  filter: brightness(.65);
}

#header {
  width: 100vw;
  height: 100%;
}

#header .carousel-indicators {
  visibility: hidden;
}

#header .carousel-control {
  visibility: hidden;
}

#header .carousel-caption {
  text-align: left;
}

.card-slider {
  position: relative;
  max-width: 80%;
}

.card-slider-wrapper {
  display: flex;
}

.card-slider toprated {
  margin-top: 30px;
}


#card {
  margin: 10px auto;
  flex: 1;
  min-width: 18rem;
  border: none;
  border-radius: 10px;
  background: transparent;
  transition: .35s;
}

#card:hover {
  width: 20rem;
  height: 180px;
}

.card-title {
  text-align: left;
}

.card-body {
  text-align: left;
}

.card img {
  width: auto;
  height: 150px;
  border-radius: 10px;
  margin-right: 15px;
}

