.App {
  text-align: center;
}


.item img{
  filter: brightness(.65);
}

#header {
  width: 100vw;
  height: 100%;
}

#header .carousel-indicators {
  visibility: hidden;
}

#header .carousel-control {
  visibility: hidden;
}

#header .carousel-caption {
  text-align: left;
}

.card-slider {
  position: relative;
  max-width: 80%;
}

.card-slider-wrapper {
  display: flex;
}

.card-slider toprated {
  margin-top: 30px;
}

h2 {
  color: #fff!important;
  text-align: left;
  letter-spacing: .4em;
  margin-top: 20px;
}


#card {
  margin: 50px auto 10px;
  flex: 1;
  min-width: 18rem;
  border: none;
  border-radius: 10px;
  background: transparent;
}


.card-title {
  color: #fff;
  text-align: left;
}

.card-body {
  color: rgba(255,255,255, .7);
  text-align: left;
}

.card img {
  width: auto;
  height: 150px;
  border-radius: 10px;
  margin-right: 15px;
  transition: 2s;
}

.card-img:hover {
  height: 200px;
}

