body html {
  color: #fff;
}

.App {
  text-align: center;
}

p {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}


.navbar {
  margin-bottom: 0px!important;
}

.item img{
  filter: brightness(.65);
}

#header {
  width: 100vw;
}



.carousel-inner>.item>a>img {
  width: 100%!important;
  height: 100vh;
}

#header .carousel-indicators {
  visibility: hidden;
}

#header .carousel-control {
  visibility: hidden;
}

#header .carousel-caption {
  text-align: left;
}





h2 {
  color: #fff!important;
  text-align: left;
  letter-spacing: .4em;
  margin-top: 20px;
}


#card {
  margin: 50px auto 10px;
  flex: 1;
  width: 10rem;
  border: none;
  border-radius: 10px;
  background: transparent;
}


.card-title {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
}

.card-body {
  color: rgba(255,255,255, .7);
  text-align: left;
}

.card img {
  width: auto;
  height: 180px;
  border-radius: 10px;
  margin-right: 15px;
  transition: 2s;
}

.card-img:hover {
  height: 200px;
}

.main-footer {
  background-color: #131517;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  padding: 7rem;
}

.main-footer-top-header {
  text-align: left;
  margin-bottom: 4rem;
}

.main-footer-top-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: left;
  padding-bottom: 40px;
}

.main-footer-top-rights {
  text-align: left;
}

.main-footer-bottom {
  text-align: right;
}

.main-footer-bottom-img {
  width: 250px;
}

@media (min-width: 1200px) {

}