body html {
  color: #fff;
}

.App {
  text-align: center;
}



.logo {
  background: url("./img/marker.png");
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50%;
  width: 70px;
  max-height: 60px;
}

.item img{
  filter: brightness(.65);
}

#header {
  width: 100vw;
}

.carousel-inner>.item>img {
  width: 100vw;
}

.carousel-inner>.item>a>img {
  width: 100%!important
}

#header .carousel-indicators {
  visibility: hidden;
}

#header .carousel-control {
  visibility: hidden;
}

#header .carousel-caption {
  text-align: left;
}

.carousel-inner>.item>img {
  height: 100vh;
}

.card-slider {
  position: relative;
  max-width: 80%;
}

.card-slider-wrapper {
  display: flex;
}

.card-slider toprated {
  margin-top: 30px;
}

h2 {
  color: #fff!important;
  text-align: left;
  letter-spacing: .4em;
  margin-top: 20px;
}


#card {
  margin: 50px auto 10px;
  flex: 1;
  width: 10rem;
  border: none;
  border-radius: 10px;
  background: transparent;
}


.card-title {
  color: #fff;
  text-align: left;
}

.card-body {
  color: rgba(255,255,255, .7);
  text-align: left;
}

.card img {
  width: auto;
  height: 180px;
  border-radius: 10px;
  margin-right: 15px;
  transition: 2s;
}

.card-img:hover {
  height: 200px;
}

.main-footer {
  background-color: #131517;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  padding: 7rem;
}

.main-footer-top-header {
  text-align: left;
  margin-bottom: 4rem;
}

.main-footer-top-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: left;
  padding-bottom: 40px;
}

.main-footer-top-rights {
  text-align: left;
}

.main-footer-bottom {
  text-align: right;
}

.main-footer-bottom-img {
  width: 250px;
}