body {
    color: #fff!important;
}

.item-details-header {
    height: 100vh;
    width: 100vw;
    background-size: cover!important;
    padding: 3% 10%;
}


.item-details-info-container {
    padding-top: 38%;
}

.items-details-info-container-content-title {
    color: #fff;
}

.items-details-info-container-content-rating {
    font-size: 1.7rem;
    color: rgba(255, 255, 255, .8);
}

.items-details-info-container-content-genre {
    color: rgba(255, 255, 255, .5);
    font-size: 1.2em;
}

.item-details-main {
    margin: 0 auto;
    max-width: 70%;
    padding: 4rem;
}

.item-details-main-title {
    letter-spacing: .3em;
    margin-block-start: .83em; 
    margin-block-end: .83em; 
    text-transform: uppercase;
}
.item-details-main-single-trailer {
    text-align: center;
}

.item-details-main-overview {
    font-size: 1.7em;
    color: rgba(255, 255, 255, .5);
}


@media only screen and (max-width: 1200px) {
    .item-details-info-container {
        padding-top: 45%;
    }
}

@media only screen and  (max-width: 900px) {
    .item-details-info-container {
        padding-top: 53%;
    }
}